# Project exclude paths
/itfield-basic/itfield-basic-common/target/
/itfield-basic/itfield-basic-generator/target/
/wx-service/wxcc-service-cart/target/
/wx-service/wxcc-service-common/target/
/wx-service/wxcc-service-course/target/
/wx-service/wxcc-service-kill/target/
/wx-service/wxcc-service-media/target/
/wx-service/wxcc-service-order/target/
/wx-service/wxcc-service-pay/target/
/wx-service/wxcc-service-search/target/
/wx-service/wxcc-service-system/target/
/wx-service/wxcc-service-uaa/target/
/wx-service/wxcc-service-user/target/
/wxcc-api/wxcc-api-course/target/
/wxcc-api/wxcc-api-media/target/
/wxcc-api/wxcc-api-search/target/
/wxcc-api/wxcc-api-uaa/target/
/wxcc-api/wxcc-api-user/target/
/wxcc-basic/wxcc-basic-common/target/
/wxcc-pojo/wxcc-pojo-cart/target/
/wxcc-pojo/wxcc-pojo-common/target/
/wxcc-pojo/wxcc-pojo-course/target/
/wxcc-pojo/wxcc-pojo-kill/target/
/wxcc-pojo/wxcc-pojo-media/target/
/wxcc-pojo/wxcc-pojo-order/target/
/wxcc-pojo/wxcc-pojo-pay/target/
/wxcc-pojo/wxcc-pojo-search/target/
/wxcc-pojo/wxcc-pojo-system/target/
/wxcc-pojo/wxcc-pojo-uaa/target/
/wxcc-pojo/wxcc-pojo-user/target/
/wxcc-support/wxcc-itfield-gateway/target/